<section class="about-game-section" id="about-game">
  <div class="container about-game-container">
    <div class="desktop-about-wrap">
      <div class="about-game-title-wrap">
        <h2 class="about-game-title">About the Game</h2>
        <p class="about-game-text">
          The Candy Kingdom Needs a Crusher Like You! Sugar Blast Land is a
          vibrant and addictive match-3 puzzle game where your task is simple:
          swap and match candies to crush through hundreds of levels. With
          smooth gameplay, juicy combos, and a world full of candy-coated charm,
          it’s the perfect game to unwind and challenge your mind.
        </p>
      </div>
      <div class="about-game-images-wrap">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              img/about-game/sugar-install-desktop.png   1x,
              img/about-game/sugar-install-desktop2x.png 2x
            "
          />
          <img
            class="about-game-image install-image"
            src="img/about-game/sugar-install.png"
            srcset="
              img/about-game/sugar-install.png   1x,
              img/about-game/sugar-install2x.png 2x
            "
            alt="phone with game"
          />
        </picture>
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              img/about-game/about-game-sugar-desktop.png   1x,
              img/about-game/about-game-sugar-desktop2x.png 2x
            "
          />
          <img
            class="about-game-image logo-image"
            src="img/about-game/about-game-sugar.png"
            srcset="
              img/about-game/about-game-sugar.png   1x,
              img/about-game/about-game-sugar2x.png 2x
            "
            alt="phone with game"
          />
        </picture>
      </div>
    </div>
    <ul class="game-info-list">
      <li class="game-info-item">Version: 1.0.20250508</li>
      <li class="game-info-item game-info-line">
        <img
          class="info-line-image"
          src="/img/hero/line-vertikal.png"
          alt="vertical-line"
        />
      </li>
      <li class="game-info-item">Last updated: May 8, 2025</li>
      <li class="game-info-item game-info-line">
        <img
          class="info-line-image"
          src="/img/hero/line-vertikal.png"
          alt="vertical-line"
        />
      </li>
      <li class="game-info-item">Platform: Android 7.0+</li>
      <li class="game-info-item game-info-line">
        <img
          class="info-line-image"
          src="/img/hero/line-vertikal.png"
          alt="vertical-line"
        />
      </li>
      <li class="game-info-item">Downloads: 500,000+</li>
    </ul>
  </div>
</section>
