<section class="candy-combos" id="candy-combos">
  <div class="container candy-combos-container">
    <div class="candy-combos-texts-wrap">
      <h2 class="candy-combos-title">Candy Combos</h2>
      <h3 class="candy-combos-subtitle">Unleash the Sweetest Explosions</h3>
      <h3 class="candy-combos-subtitle-2">
        Strategic matches will unlock powerful effects:
      </h3>
      <ul class="candy-combos-list">
        <li class="candy-combos-item">
          <img
            class="cannon-icon"
            src="img/candy-combos/cannon.png"
            alt="cannon icon"
          />
          <p class="combos-item-text">
            Striped Candy – Clears a full row or column.
          </p>
        </li>
        <li class="candy-combos-item">
          <img
            class="dynamite-icon"
            src="img/candy-combos/dynamite.png"
            alt="dynamite icon"
          />
          <p class="combos-item-text">
            Wrapped Candy – Explodes in a 3x3 area twice.
          </p>
        </li>
        <li class="candy-combos-item">
          <img
            class="flowerry-icon"
            src="img/candy-combos/flowerr.png"
            alt="flowerry icon"
          />
          <p class="combos-item-text">
            Color Bomb – Destroys all candies of one color.
          </p>
        </li>
        <li class="candy-combos-item">
          <img
            class="rainbow-icon"
            src="img/candy-combos/rainbow.png"
            alt="rainbow icon"
          />
          <p class="combos-item-text">
            Combo Mixes – Combine two boosters for super blasts!
          </p>
        </li>
      </ul>
      <div class="candy-combos-fact-wrap">
        <p class="candy-combos-fact">
          The more you match, the juicier the explosions.
        </p>
        <img
          class="candy-combos-fact-fireworks"
          src="img/candy-combos/fireworks.png"
          alt="fireworks icon"
        />
      </div>
    </div>
    <picture class="candy-combos-picture">
      <source
        media="(min-width: 1200px)"
        srcset="
          img/candy-combos/combos-desktop.png   1x,
          img/candy-combos/combos-desktop2x.png 2x
        "
      />
      <img
        src="img/candy-combos/combos-mobile.png"
        srcset="
          img/candy-combos/combos-mobile.png   1x,
          img/candy-combos/combos-mobile2x.png 2x
        "
        alt="candy combos image"
        class="candy-combos-image"
      />
    </picture>
  </div>
</section>
