<section class="contact-support" id="contact-support">
    <div class="container">
        <h2 class="contact-support-title">
            Contact & Support
        </h2>
        <div class="contact-social-container">
            <div class="contact-container">
                <p class="contact-support-text">Got a question, feedback, or just want to say hi? We’d love to hear from you.</p>
                <ul class="contact-support-list">
                    <li class="contact-support-item">
                        <img src="/img/contact-support/letter.png" alt="letter" width="20" height="16" />
                        <a class="contact-support-link" href="mailto:info@sugarbounceblitz.com">info@sugarbounceblitz.com</a></li>
                    <li class="contact-support-item">
                        <img src="/img/contact-support/clock.png" alt="clock" width="20" height="16" />
                        <p class="contact-support-text">Support Hours:<br />
                        Mon-Fri, 9AM-6PM GMT</p>
                    </li>
                </ul>
            </div>
            <div class="social-container">
                <p class="contact-support-social-text">Follow us:</p>
                <ul class="contact-support-social-list">
                    <li>
                        <a href="https://facebook.com" target="_blank" rel="noopener" class="social-link">
                            <svg class="icons-arrow" width="26" height="26" viewBox="0 0 26 26">
                                <use href="/img/sprite_2.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com" target="_blank" rel="noopener" class="social-link">
                            <svg class="icons-arrow" width="26" height="26" viewBox="0 0 26 26">
                                <use href="/img/sprite_2.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com" target="_blank" rel="noopener" class="social-link">
                            <svg class="icons-arrow" width="26" height="26" viewBox="0 0 26 26">
                                <use href="/img/sprite_2.svg#icon-twitter-x"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </div>
</section>
