<div data-cookies-modal class="cookies-modal">
  <div class="cookies-modal__overlay"></div>
  <div class="cookies-modal__content">
    <div class="cookies-policy-banner-title-container">
      <h2 class="cookies-policy-title">Cookies Policy</h2>
      <div class="cookie-vodal-img">
        <img src="/img/cookies-popup/cookies.png" alt="cookie" width="48" height="58" /></div>
    </div>
    <p class="cookies-policy-text">
      We use cookies to improve your experience on our website. By browsing
      this website, you agree to our use of cookies.
    </p>
    <div class="cookies-policy-actions">
      <button data-dismiss="accept" class="btn btn-primary">
        ACCEPT COOKIES
      </button>
      <button data-dismiss="decline" class="btn btn-outline">
        DECLINE COOKIES
      </button>
    </div>
  </div>
</div>