<section class="download-now">
    <div class="container">
        <div class="download-now-container">
            <div class="download-now-title-text-link">
                <h2 class="download-now-title">Download Now</h2>
                <h4 class="download-now-subtitle">Start Your Sweet Adventure</h4>
                <p class="download-now-text">
                    Join thousands of players who can’t stop crushing candies. With magical boosters, sweet graphics, and a
                    world full of puzzles, Sugar Blast Land is your next match-3 addiction!
                </p>
                <div class="download-now-link-container">
                    <a href="https://play.google.com/store/apps/details?id=com.popmatch.sugarblastland&hl=ru&pli=1"
                        class="download-now-link" target="_blank" rel="noopener noreferrer">
                        <div>
                            <img src="img/download-now/play-market-image2x.png" alt="play market image"
                                class="play-market-image-mobile-download-now" />
                        </div>
                        <span class="download-now-link-text">Play Now – Free on Google Play</span>
                    </a>
                </div>
            </div>
            <div class="download-now-picture-container">
                <ul class="download-now-list">
                    <li class="download-now-item">
                        <picture class="download-now-picture">
                            <source media="(min-width: 1200px)" srcset="img/download-now/girl.png 1x, img/download-now/girl_2x.png 2x"/>
                            <img class="download-now-image" src="img/download-now/girl.png"
                                srcset="img/download-now/girl.png 1x, img/download-now/girl_2x.png 2x" alt="Sugar Blast Land girl character" />
                        </picture>
                    </li>
                    <li class="download-now-item">
                        <picture class="download-now-picture">
                            <source media="(min-width: 1200px)"
                                srcset="img/download-now/boy.png 1x, img/download-now/boy_2x.png 2x"/>
                            <img class="download-now-image" src="img/download-now/boy.png"
                                srcset="img/download-now/boy.png 1x, img/download-now/boy_2x.png 2x" alt="Sugar Blast Land boy character" />
                        </picture>
                    </li>
                </ul>
        </div>
        </div>
    </div>
</section>