<footer class="footer">
  <div class="container">
    <p class="footer-desc">
      © 2025 sugarbounceblitz.com - All rights reserved.
    </p>
    <nav class="footer-nav">
      <a class="footer-link" href="privacy-policy.html" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
      <a class="footer-link" href="terms-and-conditions.html" target="_blank" rel="noopener noreferrer">Terms of
        Service</a>
      <a class="footer-link" href="cookies-policy.html" target="_blank" rel="noopener noreferrer">Cookies Policy</a>
    </nav>
  </div>
</footer>
