<header class="header">
  <div class="container header-container">
    <img
      src="/img/header/header-mobile-flower.png"
      srcset="/img/header/header-mobile-flower2x.png 2x"
      alt="flower image"
      class="mobile-header-flower"
    />
    <button type="button" class="header-burger-button" data-action="toggle">
      <svg width="40" height="40" class="header-btn menu" data-icon="open">
        <use href="/img/sprite.svg#icon-burger"></use>
      </svg>
      <svg width="40" height="40" class="header-btn close-x" data-icon="close">
        <use href="/img/sprite.svg#icon-menu-close-btn"></use>
      </svg>
    </button>

    <div class="header-desctop">
      <nav class="desctop-nav" data-visible="close" aria-hidden="true">
        <img
          src="/img/header/header-desctop-flower.png"
          srcset="/img/header/header-desctop-flower2x.png 2x"
          alt="flower image"
          class="desctop-header-flower"
        />
        <ul class="desctop-nav-list">
          <li class="nav-item">
            <a href="#hero" class="nav-link">Home</a>
          </li>
          <li class="mnav-item">
            <a href="" class="nav-link">About the Game</a>
          </li>
          <li class="mnav-item">
            <a href="" class="nav-link">How to Play</a>
          </li>
          <li class="mnav-item">
            <a href="" class="nav-link">Candy Combos</a>
          </li>
          <li class="mnav-item">
            <a href="" class="nav-link">Special Boosters</a>
          </li>
        </ul>
        <ul class="desctop-nav-list">
          <li class="nav-item">
            <a href="" class="nav-link">Sweet Features</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Visuals & Sound</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Levels & Challenges</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Mobile Experience</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Download</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<nav class="burger-menu" data-visible="close" aria-hidden="true">
  <ul class="mobile-nav">
    <li class="mobile-nav-item">
      <a href="#hero" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link">About the Game</a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link">How to Play</a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link">Candy Combos</a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link">Special Boosters</a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link">Sweet Features</a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link">Visuals & Sound</a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link">Levels & Challenges</a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link">Mobile Experience</a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link">Download</a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link">Contact</a>
    </li>
  </ul>
</nav>
