<header class="header">
  <div class="container header-container">
    <img
      src="/img/header/header-mobile-flower.png"
      srcset="/img/header/header-mobile-flower2x.png 2x"
      alt="flower image"
      class="mobile-header-flower"
    />
    <button type="button" class="header-burger-button" data-action="toggle">
      <svg width="40" height="40" class="header-btn menu" data-icon="open">
        <use href="/img/sprite.svg#icon-burger"></use>
      </svg>
      <svg width="40" height="40" class="header-btn close-x" data-icon="close">
        <use href="/img/sprite.svg#icon-menu-close-btn"></use>
      </svg>
    </button>

    <div class="header-desktop">
      <nav class="desktop-nav">
        <img
          src="/img/header/header-desctop-flower2x.png"
          alt="flower image"
          class="desktop-header-flower"
        />
        <ul class="desktop-nav-list">
          <li class="nav-item">
            <a href="#hero" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">About the Game</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">How to Play</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Candy Combos</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Special Boosters</a>
          </li>
        </ul>
        <ul class="desktop-nav-list">
          <li class="nav-item">
            <a href="" class="nav-link">Sweet Features</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Visuals & Sound</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Levels & Challenges</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Mobile Experience</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Download</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<!-- region Mobile menu -->
<div class="modal-overlay" data-overlay>
  <nav class="burger-menu" data-menu data-visible="close" aria-hidden="true">
    <ul class="mobile-nav">
      <li class="nav-item">
        <a href="#hero" class="nav-link" data-link>Home</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link" data-link>About the Game</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link" data-link>How to Play</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link" data-link>Candy Combos</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link" data-link>Special Boosters</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link" data-link>Sweet Features</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link" data-link>Visuals & Sound</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link" data-link>Levels & Challenges</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link" data-link>Mobile Experience</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link" data-link>Download</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link" data-link>Contact</a>
      </li>
    </ul>
  </nav>
</div>
<!-- #endregion mobile menu -->
