<section id="hero" class="hero-section">
  <div class="container hero-container">
    <h1 class="hero-title">Welcome to Sugar Blast Land</h1>
    <div class="hero-images-wrapper">
      <div class="left-image-wrap">
        <h2 class="left-image-title">Crush.</h2>
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              img/hero/desktop-left-phone.png   1x,
              img/hero/desktop-left-phone2x.png 2x
            "
          />
          <img
            src="img/hero/mobile-left-phone.png"
            srcset="
              img/hero/mobile-left-phone.png   1x,
              img/hero/mobile-left-phone2x.png 2x
            "
            alt="phone with game"
          />
        </picture>
      </div>
      <div class="middle-image-wrap">
        <h2 class="middle-image-title">Match.</h2>
        <picture class="middle-picture">
          <source
            media="(min-width: 1200px)"
            srcset="
              img/hero/desktop-middle-phone.png   1x,
              img/hero/desktop-middle-phone2x.png 2x
            "
          />
          <img
            src="img/hero/mobile-middle-phone.png"
            srcset="
              img/hero/mobile-middle-phone.png   1x,
              img/hero/mobile-middle-phone2x.png 2x
            "
            alt="phone with game"
            class="middle-image"
          />
        </picture>
      </div>
      <div class="right-image-wrap">
        <h2 class="right-image-title">Explode.</h2>
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              img/hero/desktop-right-phone.png   1x,
              img/hero/desktop-right-phone2x.png 2x
            "
          />
          <img
            src="img/hero/mobile-right-phone.png"
            srcset="
              img/hero/mobile-right-phone.png   1x,
              img/hero/mobile-right-phone2x.png 2x
            "
            alt="phone with game"
          />
        </picture>
      </div>
    </div>
    <a
      href="https://play.google.com/store/apps/details?id=com.popmatch.sugarblastland&hl=ru&pli=1"
      class="hero-link"
      target="_blank"
      rel="noopener noreferrer"
      ><img
        src="img/hero/play-market-image2x.png"
        alt="play market image"
        class="play-market-image-mobile-header"
      />
      <span class="hero-link-text"
        >Download Sugar Blast Land – Play Free Now!</span
      ></a
    >
    <p class="hero-description">
      Dive into a delicious candy adventure! In Sugar Blast Land, every match
      brings sweet rewards and colorful surprises. Match three or more candies,
      activate crazy boosters, and blast your way through a world of sugary
      excitement!
    </p>
  </div>
</section>
