<section id="hero" class="hero-section">
  <div class="container hero-container">
    <h1 class="hero-title">Welcome to Sugar Blast Land</h1>
    <div class="hero-images-wrap">
      <div class="hero-div-for-desktop">
        <ul class="hero-slogan-list">
          <li class="hero-slogan-item first-slogan">Crush.</li>
          <li class="hero-slogan-item second-slogan">Match.</li>
          <li class="hero-slogan-item third-slogan">Explode.</li>
        </ul>
        <picture class="hero-images">
          <source
            media="(min-width: 1200px)"
            srcset="
              img/hero/desktop-phones.png   1x,
              img/hero/desktop-phones2x.png 2x
            "
          />
          <img
            src="img/hero/mobile-phones.png"
            srcset="
              img/hero/mobile-phones.png   1x,
              img/hero/mobile-phones2x.png 2x
            "
            alt="hero image"
            class="hero-image"
          />
        </picture>
      </div>
      <a
        href="https://play.google.com/store/apps/details?id=com.popmatch.sugarblastland&hl=ru&pli=1"
        class="hero-link"
        target="_blank"
        rel="noopener noreferrer"
        ><img
          src="img/hero/play-market-image2x.png"
          alt="play market image"
          class="play-market-image-mobile-header"
        />
        <span class="hero-link-text"
          >Download Sugar Blast Land – Play Free Now!</span
        ></a
      >
    </div>
    <p class="hero-description">
      Dive into a delicious candy adventure! In Sugar Blast Land, every match
      brings sweet rewards and colorful surprises. Match three or more candies,
      activate crazy boosters, and blast your way through a world of sugary
      excitement!
    </p>
    <ul class="hero-facts-list">
      <li class="hero-facts-item">
        <img
          src="img/hero/fireworks2x.png"
          alt="fireworks"
          class="hero-icon-image"
        />
        <p class="hero-facts">500,000+ downloads</p>
      </li>
      <li>
        <img src="img/hero/line-vertikal.png" alt="line" class="line-hero" />
      </li>
      <li class="hero-facts-item second-fact">
        <img
          src="img/hero/highcandy2x.png"
          alt="candy"
          class="hero-icon-image"
        />
        <p class="hero-facts second-fact">
          Bright visuals and smooth match-3 mechanics
        </p>
      </li>
      <li>
        <img src="img/hero/line-vertikal.png" alt="line" class="line-hero" />
      </li>
      <li class="hero-facts-item">
        <img src="img/hero/fire2x.png" alt="fire" class="hero-icon-image" />
        <p class="hero-facts">Endless candy combos to unlock</p>
      </li>
    </ul>
  </div>
</section>
