<section class="how-to-play" id="how-to-play">
  <div class="container how-to-play-container">
    <div class="how-to-title-and-text-wrap">
      <h2 class="how-to-play-title">How to Play</h2>
      <h3 class="how-to-play-subtitle">Easy to Learn, Sweet to Master</h3>
      <ul class="how-to-list">
        <li class="how-to-item">
          <img
            class="icon-candy"
            src="/img/how-to-play/candy.png"
            alt="candy icon"
          />
          <p class="how-to-item-text">
            Match 3 or more candies of the same color to crush them.
          </p>
        </li>
        <li class="how-to-item">
          <img
            class="icon-bomb"
            src="/img/how-to-play/bomb.png"
            alt="bomb icon"
          />
          <p class="how-to-item-text">
            Match 4+ candies to generate boosters like candy bombs or striped
            treats.
          </p>
        </li>
        <li class="how-to-item">
          <img
            class="icon-lightning"
            src="/img/how-to-play/lightning.png"
            alt="lightning icon"
          />
          <p class="how-to-item-text">
            Combine boosters for massive chain explosions.
          </p>
        </li>
        <li class="how-to-item">
          <img
            class="icon-target"
            src="/img/how-to-play/target.png"
            alt="target icon"
          />
          <p class="how-to-item-text">
            Complete level goals to unlock rewards and progress through candy
            regions.
          </p>
        </li>
      </ul>
    </div>
    <div class="how-to-images-and-fact-wrap">
      <picture class="how-to-play-picture">
        <source
          media="(min-width: 1200px)"
          srcset="
            img/how-to-play/how-to-play-desktop.png   1x,
            img/how-to-play/how-to-play-desktop2x.png 2x
          "
        />
        <img
          class="how-to-play-image"
          src="img/how-to-play/how-to-play-mobile.png"
          srcset="
            img/how-to-play/how-to-play-mobile.png   1x,
            img/how-to-play/how-to-play-mobile2x.png 2x
          "
          alt="game previews"
        />
      </picture>
      <h3 class="how-to-fact-subtitle">
        Start simple, then unlock wild combos as your skills grow!
      </h3>
    </div>
  </div>
</section>
