<section class="levels-challenges">
    <div class="container">
        <div class="levels-challenges-container">
            <h2 class="levels-challenges-title">Levels & Challenges</h2>
            <h5 class="levels-challenges-subtitle">So Many Candies, So Little Time</h5>
            <div class="levels-challenges-container-list-image">
                <ul class="levels-challenges-list-1">
                    <li class="levels-challenges-item">1000+ levels with increasing difficulty</li>
                    <li class="levels-challenges-item">
                        <img class="levels-challenges-image-text"
                            src="/img/levels-challenges/target_icon_with_arrow.png" alt="Target icon with arrow"
                            width="20" height="20" />
                        Unique missions: clear jelly, collect ingredients, unlock keys
                    </li>
                </ul>
                <picture class="download-now-picture">
                    <source media="(min-width: 1200px)"
                        srcset="img/levels-challenges/flower.png 1x, img/levels-challenges/flower_2x.png 2x" />
                    <img class="levels-challenges-image" src="img/levels-challenges/flower.png"
                        srcset="img/levels-challenges/flower.png 1x, img/levels-challenges/flower_2x.png 2x"
                        alt="Flower" />
                </picture>
                <ul class="levels-challenges-list-2">
                    <li class="levels-challenges-item">
                        <img class="levels-challenges-image-text" src="/img/levels-challenges/puzzle.png"
                            alt="Puzzle icon" width="20" height="22" />
                        Puzzle mechanics mixed with classic match-3
                    </li>
                    <li class="levels-challenges-item">
                        <img class="levels-challenges-image-text" src="/img/levels-challenges/brain.png"
                            alt="Brain icon" width="20" height="18" />
                        Fun for beginners, challenging for pros
                    </li>
                </ul>
            </div>
            <p class="levels-challenges-text">Can you unlock all the candy regions?</p>
        </div>
    </div>
</section>