<section class="mobile-experience">
    <div class="container">
        <div class="mobile-experience-container">
            <h2 class="mobile-experience-title">Mobile Experience</h2>
            <div class="mobile-experience-picture-container">
                <ul class="mobile-experience-list">
                    <li class="mobile-experience-item">
                        <picture class="mobile-experience-picture">
                            <source media="(min-width: 1200px)" srcset="
                    img/mobile-experience/iMockup_1.png 1x,
                    img/mobile-experience/iMockup_1_2x.png 2x
                  " />
                            <img class="mobile-experience-image" src="img/mobile-experience/iMockup_1.png" srcset="
                    img/mobile-experience/iMockup_1.png 1x,
                    img/mobile-experience/iMockup_1_2x.png 2x
                  " alt="Sugar Blast Land page on Google Play Store" />
                        </picture>
                    </li>
                    <li class="mobile-experience-item">
                        <picture class="mobile-experience-picture">
                            <source media="(min-width: 1200px)" srcset="
                    img/mobile-experience/iMockup_2.png 1x,
                    img/mobile-experience/iMockup_2_2x.png 2x
                  " />
                            <img class="mobile-experience-image" src="img/mobile-experience/iMockup_2.png" srcset="
                    img/mobile-experience/iMockup_2.png 1x,
                    img/mobile-experience/iMockup_2_2x.png 2x
                  " alt="Stress Be Gone" />
                        </picture>
                    </li>
                    <li class="mobile-experience-item">
                        <picture class="mobile-experience-picture">
                            <source media="(min-width: 1200px)" srcset="
                    img/mobile-experience/iMockup_3.png 1x,
                    img/mobile-experience/iMockup_3_2x.png 2x
                  " />
                            <img class="mobile-experience-image" src="img/mobile-experience/iMockup_3.png" srcset="
                    img/mobile-experience/iMockup_3.png 1x,
                    img/mobile-experience/iMockup_3_2x.png 2x
                  " alt="Challenge the Fun" />
                        </picture>
                    </li>
                    <li class="mobile-experience-item">
                        <picture class="mobile-experience-picture">
                            <source media="(min-width: 1200px)" srcset="
                    img/mobile-experience/iMockup_4.png 1x,
                    img/mobile-experience/iMockup_4_2x.png 2x
                  " />
                            <img class="mobile-experience-image" src="img/mobile-experience/iMockup_4.png" srcset="
                    img/mobile-experience/iMockup_4.png 1x,
                    img/mobile-experience/iMockup_4_2x.png 2x
                  " alt="Simple Controls" />
                        </picture>
                    </li>
                    <li class="mobile-experience-item">
                        <picture class="mobile-experience-picture">
                            <source media="(min-width: 1200px)" srcset="
                    img/mobile-experience/iMockup_5.png 1x,
                    img/mobile-experience/iMockup_5_2x.png 2x
                  " />
                            <img class="mobile-experience-image" src="img/mobile-experience/iMockup_5.png" srcset="
                    img/mobile-experience/iMockup_5.png 1x,
                    img/mobile-experience/iMockup_5_2x.png 2x
                  " alt="Just a Tap" />
                        </picture>
                    </li>
                    <li class="mobile-experience-item">
                        <picture class="mobile-experience-picture">
                            <source media="(min-width: 1200px)" srcset="
                    img/mobile-experience/iMockup_6.png 1x,
                    img/mobile-experience/iMockup_6_2x.png 2x
                  " />
                            <img class="mobile-experience-image" src="img/mobile-experience/iMockup_6.png" srcset="
                    img/mobile-experience/iMockup_6.png 1x,
                    img/mobile-experience/iMockup_6_2x.png 2x
                  " alt="Level Up the Joy" />
                        </picture>
                    </li>
                </ul>
            </div>
            <h4 class="mobile-experience-subtitle">Crush Candy Anywhere, Anytime</h4>
            <ul class="mobile-experience-list-text">
                <li class="mobile-experience-item-text"><img class="mobile-experience-image-text" src="/img/mobile-experience/disceta.png" alt="Save icon" width="20" height="20"/>
                    Lightweight and quick to install</li>
                <li class="mobile-experience-item-text"><img class="mobile-experience-image-text"
                        src="/img/mobile-experience/grafic.png" alt="Signal strength icon" width="20" height="22"/>
                    Play online or offline</li>
                <li class="mobile-experience-item-text"><img class="mobile-experience-image-text"
                        src="/img/mobile-experience/protect.png" alt="Shield icon" width="20" height="24"/>
                    No intrusive ads</li>
                <li class="mobile-experience-item-text"><img class="mobile-experience-image-text"
                        src="/img/mobile-experience/mobile.png" alt="Mobile icon" width="20" height="28" />
                    Fully optimized for phones and tablets</li>
                <li class="mobile-experience-item-text"><img class="mobile-experience-image-text"
                        src="/img/mobile-experience/lacata.png" alt="Mobile icon" width="20" height="26" />
                    Auto-save and sync support</li>
            </ul>
        </div>
        <p class="mobile-experience-text">Great for quick breaks or long sweet sessions.</p>
    </div>
</section>