<section class="special-boosters" id="special-boosters">
    <div class="container">
        <div class="special-boosters-container">
            <h2 class="special-boosters-title">Special Boosters</h2>
            <h5 class="special-boosters-subtitle">Your Candy-Crushing Toolbox</h5>

            <!-- КНОПКИ: ПОЗА слайдером, всередині .special-boosters-container -->
            <div class="swiper-button-prev"></div>

            <div class="swiper">
                <div class="swiper-wrapper">
                    <!-- 1 слайд -->
                    <div class="swiper-slide">
                        <div class="booster-card">
                            <picture class="special-boosters-picture">
                                <source media="(min-width: 1200px)"
                                    srcset="img/special-boosters/candy_special-boosters.png 1x, img/special-boosters/candy_special-boosters_2x.png 2x" />
                                <img class="special-boosters-image"
                                    src="img/special-boosters/candy_special-boosters.png"
                                    srcset="img/special-boosters/candy_special-boosters.png 1x, img/special-boosters/candy_special-boosters_2x.png 2x"
                                    alt="Candy" />
                            </picture>
                            <div class="special-boosters-caption">
                                Lollipop Hammer - <br>
                                Smash any candy instantly.
                            </div>
                        </div>
                    </div>
                    <!-- 2 слайд -->
                    <div class="swiper-slide">
                        <div class="booster-card">
                            <picture class="special-boosters-picture">
                                <source media="(min-width: 1200px)"
                                    srcset="img/special-boosters/candy_crush_special-boosters.png 1x, img/special-boosters/candy_crush_special-boosters_2x.png 2x" />
                                <img class="special-boosters-image"
                                    src="img/special-boosters/candy_crush_special-boosters.png"
                                    srcset="img/special-boosters/candy_crush_special-boosters.png 1x, img/special-boosters/candy_crush_special-boosters_2x.png 2x"
                                    alt="Candy" />
                            </picture>
                            <div class="special-boosters-caption">
                                Swirl Mixer - <br>
                                Shuffle the board when you're stuck.
                            </div>
                        </div>
                    </div>
                    <!-- 3 слайд -->
                    <div class="swiper-slide">
                        <div class="booster-card">
                            <picture class="special-boosters-picture">
                                <source media="(min-width: 1200px)"
                                    srcset="img/special-boosters/baloon.png 1x, img/special-boosters/baloon_2x.png 2x" />
                                <img class="special-boosters-image" src="img/special-boosters/baloon.png"
                                    srcset="img/special-boosters/baloon.png 1x, img/special-boosters/baloon_2x.png 2x"
                                    alt="Candy" />
                            </picture>
                            <div class="special-boosters-caption">
                                Rainbow Brush - <br>
                                Transform candies to make a match.
                            </div>
                        </div>
                    </div>
                    <!-- 4 слайд -->
                    <div class="swiper-slide">
                        <div class="booster-card">
                            <picture class="special-boosters-picture">
                                <source media="(min-width: 1200px)"
                                    srcset="img/special-boosters/dinamyt.png 1x, img/special-boosters/dinamyt_2x.png 2x" />
                                <img class="special-boosters-image" src="img/special-boosters/dinamyt.png"
                                    srcset="img/special-boosters/dinamyt.png 1x, img/special-boosters/dinamyt_2x.png 2x"
                                    alt="Candy" />
                            </picture>
                            <div class="special-boosters-caption">
                                Sweet Bomb - <br>
                                Clears tricky spots with a bang.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Якщо потрібна пагінація -->
                <div class="swiper-pagination"></div>
                <div class="swiper-scrollbar"></div>
            </div>

            <div class="swiper-button-next"></div>

            <p class="special-boosters-text">
                Use boosters wisely to beat even the toughest levels.
            </p>
        </div>
    </div>
</section>