<section class="sweet-features" id="sweet-features">
    <div class="container">
        <div class="sweet-features-container">
            <h2 class="sweet-features-title">Sweet Features</h2>
            <h5 class="sweet-features-subtitle">Why You'll Love Sugar Blast Land</h5>
            <div class="sweet-features-list-container">
                <ul class="sweet-features-list">
                    <li class="sweet-features-item">
                        <svg class="sweet-features-icons-arrow" width="32" height="32" viewBox="0 0 26 26">
                        <use href="/img/sprite_2.svg#icon-tick"></use>
                    </svg>Addictive match-3 fun</li>
                    <li class="sweet-features-item">
                        <svg class="sweet-features-icons-arrow" width="32" height="32" viewBox="0 0 26 26">
                            <use href="/img/sprite_2.svg#icon-tick"></use>
                        </svg>Bright candy visuals
                    </li>
                    <li class="sweet-features-item">
                        <svg class="sweet-features-icons-arrow" width="32" height="32" viewBox="0 0 26 26">
                            <use href="/img/sprite_2.svg#icon-tick"></use>
                        </svg>Smooth animations and sounds
                    </li>
                    <li class="sweet-features-item">
                        <svg class="sweet-features-icons-arrow" width="26" height="25" viewBox="0 0 26 26">
                            <use href="/img/sprite_2.svg#icon-tick"></use>
                        </svg>Easy to play, hard to master
                    </li>
                    <li class="sweet-features-item">
                        <svg class="sweet-features-icons-arrow" width="32" height="32" viewBox="0 0 26 26">
                            <use href="/img/sprite_2.svg#icon-tick"></use>
                        </svg>Offline play available
                    </li>
                    <li class="sweet-features-item">
                        <svg class="sweet-features-icons-arrow" width="32" height="32" viewBox="0 0 26 26">
                            <use href="/img/sprite_2.svg#icon-tick"></use>
                        </svg>Daily login rewards and seasonal events
                    </li>
                    <li class="sweet-features-item">
                        <svg class="sweet-features-icons-arrow" width="32" height="32" viewBox="0 0 26 26">
                            <use href="/img/sprite_2.svg#icon-tick"></use>
                        </svg>Perfect for kids and adults alike
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>