<section class="visual-sound">
    <div class="container">
        <div class="visual-sound-container">
            <h2 class="visual-sound-title">Visuals & Sound</h2>
            <h5 class="visual-sound-subtitle">A Candy-Coated World of Color and Music</h5>
            <p class="visual-sound-text">Every tap, swipe, and pop feels satisfying thanks to:</p>
            <ul class="visual-sound-list">
                <li class="visual-sound-item"><img class="visual-sound-image-text" src="/img/visual-sound/candy.png"
                    alt="Candy icon" width="20" height="15" /> Bright, hand-drawn candy landscapes
                </li>
                <li class="visual-sound-item"><img class="visual-sound-image-text" src="/img/visual-sound/star.png" alt="Star icon"
                        width="20" height="20" /> Polished animation with candy explosions
                </li>
                <li class="visual-sound-item"><img class="visual-sound-image-text" src="/img/visual-sound/melody.png" alt="Melody icon"
                        width="20" height="24" /> Chill and cheerful soundtrack
                </li>
                <li class="visual-sound-item"><img class="visual-sound-image-text" src="/img/visual-sound/cake.png" alt="Cake icon"
                        width="20" height="24" /> Whimsical sound effects for every action
                </li>
            </ul>
            <picture class="visual-sound-picture">
                <source media="(min-width: 1200px)"
                    srcset="img/visual-sound/colorful_cartoon.png 1x, img/visual-sound/colorful_cartoon_2x.png 2x" />
                <img class="visual-sound-image" src="img/visual-sounds/colorful_cartoon.png"
                    srcset="img/visual-sound/colorful_cartoon.png 1x, img/visual-sound/colorful_cartoon_2x.png 2x" alt="Flower" />
            </picture>
            <p class="visual-sound-text">Sugar Blast Land is pure eye and ear candy.</p>
        </div>
    </div>
</section>