:root {
  --font-agbalumo: 'Agbalumo', 'Georgia', 'Times New Roman', serif;
  --font-roboto-regular: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  --font-roboto-medium: 'Roboto', 'Arial', 'Helvetica', sans-serif;

  --weight-regular: 400;
  --weight-medium: 500;

  --color-light: #fafafa;
  --color-dark: #1f1f1f;

  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  color: var(--color-dark);
  background-color: var(--color-light);
  margin: 0;
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}
