:root {
  --font-agbalumo: 'Agbalumo', 'Georgia', 'Times New Roman', serif;
  --font-roboto-regular: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  --font-roboto-medium: 'Roboto', 'Arial', 'Helvetica', sans-serif;

  --weight-regular: 400;
  --weight-medium: 500;

  --pink-main-bg: #ffc2df;
  --pink-section-bg: #ffe5f6;
  --color-dark: #1f1f1f;
  --color-pink-additional: #ca349a;

  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 56px;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  color: var(--color-dark);
  background-color: var(--pink-main-bg);
  margin: 0;
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  html {
    scroll-padding-top: 118px;
  }
}
